header {
    background-color: var(--surface-color);

}

.logo {
    width: 30%;
}

.logo img {
    width: 25%;
    padding: 1%;
}

.nav-menu {
    width: 70%;
}

.nav-options {}

.nav-options a {
    color: var(--neutral-color);
    text-decoration: none;
    text-transform: uppercase;
    margin: 2%;
    padding: 1%;
}

.nav-options a:hover {
    border-bottom: solid 2px var(--secondary-color-200);
    border-top: solid 2px var(--secondary-color-200);
}